*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

.App{
    width: 95%;
    padding: 0px,15px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 10px;
}
.main_title{
    margin-top: 15px;
    font-size: 30px;
    font-weight: bold;
    align-items: center;

}
.title{
    font-size: 20px;
    font-weight: bold;
}
.slider{
    width: 100%;
}
.labels{
    display: flex;
    justify-content: space-between;
}
.tenure_Container{
    display: flex;
    justify-content: space-between;
    gap: 10px;
}
.tenure{
    height: 50px;
    width: 15%;
    border: none;
    border-radius: 100px;
    background-color: rgb(180, 178, 178);
}
.selected{
    background-color: rgb(61, 135, 238);
    color: white;
}